.user {
  padding: 1rem;
}
.userList {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.userList .user {
  padding: 2rem;
  margin: 1rem;
  background: #ccc;
}
.paginateWrap {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 1rem 0 0 0;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  max-width: 100%;
  flex-wrap: wrap;
  background: #ccc;
}
body.light .paginateWrap {
  background: #fafafa;
}
.paginateWrap .paginateA,
.paginateWrap .paginateNextA,
.paginateWrap .paginatePrevA,
.paginateWrap .paginateBreakA {
  cursor: pointer;
  padding: 0.2rem 0.4rem;
}
.paginateWrap .paginateA:focus,
.paginateWrap .paginateNextA:focus,
.paginateWrap .paginatePrevA:focus,
.paginateWrap .paginateBreakA:focus {
  outline: 0;
}
.paginateWrap .paginateA:hover,
.paginateWrap .paginateNextA:hover,
.paginateWrap .paginatePrevA:hover,
.paginateWrap .paginateBreakA:hover {
  background: #745788;
  background: #d9c5e6;
}
.paginateWrap .paginateLi {
  margin: 0 0.2rem;
}
.paginateWrap .paginateNextA,
.paginateWrap .paginatePrevA {
  color: #745788;
  margin: 0 0.3rem;
}
.paginateWrap .paginateActive {
  border: 2px solid #d9c5e6;
  background: #d9c5e6;
}
.paginateWrap .paginateDisabled > a {
  cursor: not-allowed;
  background: transparent;
  color: #666;
}
body.light .paginateWrap .paginateDisabled > a {
  color: #ccc;
}
.paginateWrap .paginateDisabled > a:hover {
  background: transparent !important;
}
