.pagination {
  display: flex;
  justify-content: center;
  align-items: center;

  li {
    padding: 5px;
    list-style: none;

    a {
      font-weight: 600;
      font-size: 12px;
    }

    &.active a {
      color: 'palletGoldHard';
    }

    &.disabled {
      display: none;
    }
  }
}
